#divImagem2 {
    position: relative;
    width: 100%;
    height: 775px;
}

#imagem2, #imagem3 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

#entrar {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
    font-weight: bold;
    color: white;
    top: 70px;
    text-shadow: 2px 2px black;
}

#headerVoluntarioEmpresa, #criar_novo_vol_titulo, #criar_novo_emp_titulo {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px black;
}

.form-container{
	position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 200px;
	background: #fff;
	padding: 30px;
    width: 800px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.form-container2{
	position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
	background: #fff;
	padding: 30px;
    width: 1000px;
    height: 630px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
    overflow-y: auto;
}

#label_password_voluntario:focus, #label_password_empresa:focus {
    outline: none;
}

.caixalogin {
    margin: auto;
}

.big-checkbox {
    transform: scale(2);
}

.textoCheckbox {
    position: relative;
    margin-left: 20px;
    font-size: 20px;
}

#xPng1 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 90px;
    right: 440px;
    z-index: 2;
    cursor: pointer;
}

.div_da_password {
    position: relative;
    height: auto;
    z-index: 99;
}

#blackEye1, #redEye1, #blackEye2, #redEye2{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: -40px;
}

#blackEye3, #redEye3, #blackEye4, #redEye4{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: -40px;
}