#divImagem2, #divImagem3, #divImagemEmpresa, #divImagemVoluntario {
    position: relative;
    width: 100%;
    height: 775px;
}

#imagem2, #imagem3 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.profile-container{
	position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
	background: #fff;
	padding: 30px;
    width: 1000px;
    height: 730px;
    overflow-y: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.form-container3{
	position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
	background: #fff;
	padding: 30px;
    width: 1000px;
    height: 730px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
    overflow-y: auto;
    margin-top: 20px;
}


.zona_dos_botoes {
    position: relative;
    z-index: 3;
    height: 70px;
	border-radius: 10px;
    display: block;
}


.botao {
    margin-top: -20px;
}

#avatarUtilizador, #avatarEmpresa {
    border-radius: 50%;
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 150px;
}

#dados_empresa {
    margin-top: -30px;
}

.primeiroElemento {
    margin-top: 20px;
}

.dado {
    margin-top: -25px;
}

.primeiroElemento2 {
    margin-top: 80px;
}

.dado2 {
    margin-top: -25px;

}

.div_da_password {
    position: relative;
    height: auto;
    z-index: 99;
}

#blackEye1, #redEye1, #blackEye2, #redEye2{
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: -40px;
}

