#loader {
    position: absolute; 
    z-index: 1000;
	width: 100%;
    height: 775px;

    background-color: rgba(0, 0, 0, 0.7);
}

#divImagem {
    position: relative;
    width: 100%;
    height: 775px;
}

#imagem6 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.body_container{
	position: absolute; 
	left: 0; 
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;

	background: #fff;
	padding: 30px;

    width: 1850px;
    height: 720px;

    overflow-y: auto;

	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

#loader_img {
    z-index: 10;

    position: absolute; 
	left: 0; 
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;

    width: 32px; 
    height: 32px;
}

.acoes_ativas_inativas {
    position: relative;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;

    width: 850px;
    background: #fff;
	padding: 20px;
    border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.big-checkbox {
    transform: scale(1.7);
}

.big-checkbox2 {
    transform: scale(1);
}

.textoCheckbox {
    position: relative;
    margin-left: 10px;
    font-size: 20px;
    width: 200px;
}

.caixa_da_acao {
    position: relative;
    display: inline-block;
    margin-left: 25px;
    margin-top: 25px;

    width: 410px;
    height: 580px;

    border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;

    overflow-y: auto;

}

.titulos {
    position: relative;
    margin-top: 15px;
    width: 210px;
    float: right;
    left: -20px;
}

.texto_titulo_acao {
    font-size: 15px;
}

.nome_da_empresa {
    font-size: 18px;
}

.texto_subtitulo_acao {
    font-size: 14px;
}

.div_das_infos_principais {
    margin-top: 10px;
}

.sobre_empresa {
    width: 150px;
    font-size:11px;
}

.zona_do_botao {
    position: relative;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;

    width: 265px;
}

.zona_do_botao2 {
    position: relative;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.texto_botao {
    /* margin-top: 15px; */
    font-size: 15px;
    /* width: 200px; */
}

.texto_botao2 {
    width: 220px;
}

.editar_interesses {
	position: absolute;
    z-index: 100;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    
	background: #fff;
	padding: 30px;

    width: 1000px;

    margin-top: 100px;
}

.editar_interesses2 {
	position: absolute;
    z-index: 100;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    
	background: #fff;
	padding: 30px;

    width: 1000px;

    margin-top: 200px;
}

.editar_interesses3 {
	position: absolute;
    z-index: 100;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    
	background: #fff;
	padding: 30px;

    width: 1000px;

    margin-top: 100px;
}

.filtrar_acoes_apresentadas {
    display: none;
    position: relative;

    padding: 30px;

    border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

#convidar_voluntarios {
	width: 1400px; 
	border: solid black 2px; 
	height: 600px; 
	position: absolute; 
	left: 0; 
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
	padding: 20px;
    border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
	overflow: auto;
	overflow-x: hidden;
}

.smalls {
    color: red; 
    display: none;
    margin-top: 10px;
}




.avatar {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.chat {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.chat_volun {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
	position: absolute;
	left: 60px;
	top: 80px;
}

.imagem_volun {
    width: 90px;
    height: 80px;
}


#zona_do_chat {
    position: absolute;
    z-index: 10;
    height: 98%;
    width: 400px;
    right: 0;

    bottom: 0;

    margin-bottom: auto;

    background-color: rgba(255, 255, 255);

    border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;

    overflow-y: auto;
}

#sobre_a_empresa_box {
    position: absolute;
    z-index: 10;
    height: 650px;
    width: 1400px;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    background-color: rgba(255, 255, 255);
    overflow-y: auto;

	box-shadow: 0px 0px 20px 0px #000;
}

#fechar_chat {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#fechar_sobre_empresa {
    float: right;
    z-index: 20;
    margin-top: 20px;
    margin-right: 20px;
    width: 10px;
    height: 10px;
}

.participar_nome_da_empresa {
    position: relative;
    margin-left: 20px;
}

.participar_nome_da_empresa2 {
    position: absolute;
    z-index: 10;
    top: 50px;
    right: 10px;
}

.zona_infos_principais {
    margin-top: 30px;
}


#avatarUtilizador {
    border-radius: 50%;
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 150px;
}

.textoCheckbox2 {
    position: relative;
    margin-left: 20px;
    font-size: 20px;
    float: left;
}

#coluna2 {
    margin-left: 20px;
}


.textoCheckbox3 {
    font-size: 20px;
}

#zona_da_conversa {
    position: absolute;
    z-index: 10;
    height: 500px;
    width: 330px;

    right: 401px;
    bottom: 0;
    margin-bottom: auto;

    background-color: rgba(255, 255, 255);

    border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;

    overflow-y: auto;
}

.chats {
    position: relative;
    margin-top: 30px;
}

.conversas {
    margin-top: 30px;
}


.conversa {
    position: relative;
    cursor: pointer;

    height: 80px;

    background-color: rgba(255, 255, 255);
    overflow-y: auto;

	box-shadow: 0px 0px 2px 0px #000;
}


.infos_janela_chat {
    margin-top: 10px;
}


.avatar_conversa {
    border-radius: 50%;
    width: auto;
    max-width: 60px;
    height: auto;
    max-height: 60px;
    display: inline-block;
}

.uma_conversa {
    width: 290px;
    float: right;
}


.nome_da_empresa_chat {
    margin-left: 20px;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
}


#mensagem_a_enviar {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    width: 260px;
    height: 40px;
    left: 10px;
}

#icon_envio_mensagem {
    position: absolute;
    z-index: 10;
    width: 55px;
    height: 35px;
    bottom: 15px;
    right: 8px;
    cursor: pointer;

}

.cabecalho{
	height: 50px;
}


.mensagem {
    display: inline-block;
    position: relative;
    margin-top: 5px;
    font-size: 15px;
}

.icon_mensagem_chat {
    border-radius: 50%;
    width: auto;
    max-width: 25px;
    height: auto;
    max-height: 25px;
    display: inline-block;
}



.nome_da_pessoa_na_conversa {
    position: absolute;
    margin-top: 8px;
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

#box_das_mensagens {
    overflow-y: auto;
    height: 390px;
}

.estado_candidatura_volun{
	text-align: center;
}

/* CSS RELACIONADO AO CHAT */

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  display:inline-block;
  clear: both;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.him{
  background: #eee;
  float: left;
}

.me{
  float: right;
  background: #0084ff;
  color: #fff;
}

.him + .me{
  border-bottom-right-radius: 5px;
}

.me + .me{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.me:last-of-type {
  border-bottom-right-radius: 30px;
}

.chat_msg{
	height: 70%;
	overflow: auto;
}

