@keyframes frases_change {
    0% {background: url(../imagens/frases/frase1.png);}
    35% {background: url(../imagens/frases/frase2.png);} 
    60% {background: url(../imagens/frases/frase3.png);} 
    80% {background: url(../imagens/frases/frase4.png);} 
    100% {background: url(../imagens/frases/frase5.png);} 
}

#divImagem1 {
    position: relative;
    width: 100%;
    height: 775px;
}

#slidshow {
    display: block;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    animation: frases_change 60s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#imagem1 {
    width: 100%;
    height: 100%;
    position: absolute;
}
