#inicio {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 17px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: white;
        font-weight: normal;
        text-decoration: none;
        font-style: normal;
}

#sub-inicio {
    background-color:#f5f4f4;
    color:#444;
    font-size: 12px;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    border:none;
    outline:none;
    margin-top:4px;
    border-radius:8px;
    font-size:inherit;
    padding: 30px;
}

.my-accordion .menu{
    background-color:#f5f4f4;
    color:#444;
    cursor:pointer;
    padding:12px;
    width:100%;
    text-align:left;
    border:none;
    outline:none;
    border-radius:8px;
    font-size:inherit;
    padding: 30px;
}

.my-accordion .panel{
    background-color:#FFFFFF;
    color:#000000;
    overflow:hidden;
    padding: 30px;
    text-align: left;
}

.my-accordion .open{
    display:block
}

.my-accordion .close{
    display:none
}

.my-accordion .active{
    background-color:#1b90bb;
    color:#fff;
    padding: 15px;
}

.my-accordion .arrow{
    float:right;
    display:block
}

.my-accordion .darrow{
    display:none
}

.my-accordion .active .darrow{
    display:block
}

.my-accordion .active .rarrow{
    display:none

}
.my-accordion .panel a{
    display:block;
    background:#808080;
    color:#FFFFFF;
    padding:5px;
    margin:3px;
    width:100%;
    text-decoration:none;
}

#divImagem {
    position: relative;
    width: 100%;
    height: 775px;
}

#imagem1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.body_container{
	position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;


    background: #fff;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;

    width: 1770px;
    height: 750px;
    
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

p {
    text-align: center;
  }

.float {
    float: left;
    margin: 27px;
    text-decoration: none;
}