.lista-produtos{
    max-height: 75vh;
}

#divAvisoCarrinho {
    display: none;
    position: fixed;
    bottom: 10px;
    background-color: #04AA6D;
    left: 50%;
    transform: translateX(-50%);
}

.emptyCart {
    transform: scale(0.50);
}