.encomendas {
    width: 90%;
    min-height: 70%;
    overflow: auto;
}


/* .encomenda {
    background-color: white;
    border: 1px solid black;
} */

.detalhes {
    float: right;
    text-decoration: underline;
    color: black;
}


.cancelar_encomenda {
    text-decoration: underline;
    color: black;
}

.recibo {
    background-color: #f5f5f5;
}

.preco_info {
    float: right;
}