.encomendas {
    width: 90%;
    min-height: 70%;
    overflow: auto;
}


/* .encomenda {
    background-color: white;
    border: 1px solid black;
} */

.detalhes {
    float: right;
    text-decoration: underline;
    color: black;
}


.cancelar_encomenda {
    text-decoration: underline;
    color: black;
}

.recibo {
    background-color: #f5f5f5;
}

.preco_info {
    float: right;
}

.alterar_estado {
    padding: 20px;
    background-color: #f5f5f5;
}


.campo_morada {
    margin-top: -10px !important;
}


.download {
    float: right;
    color: black;
    font-size: 20px;
    bottom: 0px !important;
}

.download:hover {
    color: green;
  }