#apresentação {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    height: auto;
    width: 80%;
    background-color: white;
    max-height: 100%;
    overflow: auto;
}


#apresentaçãoForm {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    
    width: 80%;
    background-color: white;
    overflow: hidden;
    padding: 10px;
}


#noProdutos{
    width: 100%;
    min-height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.evento-size{

    width: 250px;
    height: 250px
}

.sem_cadeias_img {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 300px;
}

#addCadeia{
    background-color: #008B8B !important;
    color: white !important;
    width: 279px;
    
}

#noCadeias{
    width: 100%;
    min-height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#noProducts{
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center
}

.sem_produtos_img {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 300px;
}




#todosArmazens {
    display: none;
}


#criarUmArmazem {
    display: none;
}


#criarUmaCadeiaLogistica {
    display: none;
}

#co2quantidade, #kwhquantidade {
    display: none;
}

#spinnerAdicionarEvento {
    display: none;
}
#spinnerAdicionarArmazem {
    display: none;
}
#addCadeia{
    display: block;
}

#but-pad{
    display: block;
    width: 50%;
}


#todaCadeiaLogistica {
    display: none;
}


#fundoDivOpac {
    display: none;
}

#prudInfoA{
    width: 35%;
}

#fixSize{
    width: 310px;
    height: 200px;
}
.warning{
    width: 150px;
    height: 100px;
}

#filtroA{
    width: 31%;
}
#displayNoWarning{
    height:140px;
}
#displayWarning{
    border:solid;
    
}

#cadeiaInfo{
    
    background-color: #008B8B !important;
    color: white !important;
    width: 180px;
   
}

#infoAdicional{
    position: absolute;
    background-color: white;
    border: solid;
    padding: 10px;
    top: 25%;
    left: 25%;
    z-index: 9;
    width: 65%;

    display:none;

}

.armazem{
 
    position: absolute;
    background-color: white;
    border: solid;
    padding: 10px;
    top: 25%;
    left: 25%;
    z-index: 9;
    width: 55%;
  
}

.not_button{
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.not_button:hover{
    background-color: rgb(232,232,232);
}

.backgroundSee{

    position: fixed;

    top: 0;
    left: 0;
    z-index: 5;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}


.row{

    margin: 15px;

}


#btn-id-id{
    margin: 0;
    display: block;
    float: right;
}


#button-close-div{

    padding:5px;
    float: right;

}

.imagemProduto {

    height: 300px !important;

}

#divAvisoCarrinho {
    display: none;
    position: fixed;
    bottom: 10px;
    background-color: #04AA6D;
    left: 50%;
    transform: translateX(-50%);
}

.removeCartButton {
    display: none;
}

/* Estrela Favoritos */

.Estrela_Favoritos{
    position: absolute;
    right: 5px;
    color: black;
    text-decoration: none;
}

.Estrela_Favoritos:hover {
    color: orange;
    opacity: 0.7;
}

.checked{
    color: orange;

}

.checked:hover {
    opacity: 0.7;
    color: black;
}

/* Filtros Produtos na loja */

.Div_Filtros_Produtos{
    border: 2px solid darkgray;
    background-color: white;
    float: left;
    height: 100vh;
}

.row_loja {
    height: 100vh;
}

.Div_Campos{
    float: left;
}

.Div_Campos label {
    float: left;
  }


/* Listar Produtos na loja */

.Div_Produtos{
    text-align:center;
    max-width: 80%;
}

.carta {
    margin-right: 15px;
    margin-left: 15px;
    position: relative;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    max-height: 335px;
    height: 335px;
    text-align: center;
    font-family: arial;
    display: inline-block;

    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,.125);
    background-clip: border-box;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;

    margin-top: 15px;
    padding: 2px;

    font-size: 1.5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .carta img{
    width: 187.5px;
    height: 172.5px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .carta button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: green;
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  
  .carta button:hover {
    opacity: 0.7;
  }

  /* /################################## */

  #buttonAdd {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: green;
    text-align: center;
    width: 20%;
    font-size: 18px;
  }

  #buttonAdd:hover {
    opacity: 0.7;
  }

  #buttonDel {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: red;
    text-align: center;
    width: 20%;
    font-size: 18px;
  }

  #buttonDel:hover {
    opacity: 0.7;
  }

.botao_criar {
    font-size: 20px;
    padding: 10px 20px;
}


.botao_cadeia {
    background-color: #008B8B !important;
    color: white !important;
    width: 170px;
}

.detalhes {
    float: right;
    text-decoration: underline;
    color: black;
}

.voltar {
    text-decoration: underline;
    color: black;
}

.card {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 200px;
    height: 200px;
    height: auto;
    border-radius: 10%;
}

.form-div {
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border: 2px solid rgba(0,0,0,.2);
}