#productForm {
    display: none;
}


#todosArmazens {
    display: none;
}


#criarUmArmazem {
    display: none;
}


#criarUmaCadeiaLogistica {
    display: none;
}

#co2quantidade, #kwhquantidade {
    display: none;
}

#spinnerAdicionarEvento {
    display: none;
}
#spinnerAdicionarArmazem {
    display: none;
}
#addCadeia{
    display: block;
}

#but-pad{
    display: block;
    width: 50%;
}


#todaCadeiaLogistica {
    display: none;
}


#fundoDivOpac {
    display: none;
}

#prudInfoA{
    width: 35%;
}

#infoAdicional{
    position: absolute;
    background-color: white;
    border: solid;
    padding: 10px;
    top: 25%;
    left: 25%;
    z-index: 9;
    width: 65%;

    display:none;

}

.armazem{
 
    position: absolute;
    background-color: white;
    border: solid;
    padding: 10px;
    top: 25%;
    left: 25%;
    z-index: 9;
    width: 55%;
  
}

.not_button{
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.not_button:hover{
    background-color: rgb(232,232,232);
}

.backgroundSee{

    position: fixed;

    top: 0;
    left: 0;
    z-index: 5;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}


.forForm{
 
    position: absolute;
    background-color: white;
    border: solid;
    padding: 10px;
    top: 25%;
    left: 25%;
    z-index: 9;
    width: 55%;

}


.row{
  margin: 15px;
}

#btn-id{
    margin: 0;
    display: block;
    float: right;
}


#button-close-div{
    padding:5px;
    float: right;
}

.imagemProduto {
    max-height: 310px !important;
    max-width: 310px !important;
}