.logo {
    max-width: 50%;
    height: auto;
}


.alert{
    
    top: 25px;
}


.form-group{

    padding: 10px;

}


.limit-width {
    max-width: 50%;
    background-color: forestgreen;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border: 5px solid rgba(0,0,0,.2);
    padding: 20px;
}

.btn-color {
    background-color: #05591A;
    color: white;
}