/*
 * Custom translucent site header
 */

 .site-header {
    background-color: rgba(0, 0, 0, .80);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #8e8e8e;
    transition: color .15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }
  
  #ola {
    background-color: #05591A;
    border-color: #05591A;
  }
  

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}



@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  

}

body {
  background-color: #e2dfdf!important;
}

.btn-secondary {
  background-color: transparent!important;
  border: none!important;
}



.navbar_image {
  max-height: 45px;
  margin-top: 2px;
}

#navbarPrincipal {
  max-width: 1100px;
}

#menu_perfil_utilizador {
  right: 30px;
  top: 10px;
  position: absolute;
  display: none;
}

#foto_navbar {
  border-radius: 50%;
  max-width: 40px;
  max-height: 40px;
}

.icons_navbar {
  max-width: 30px;
  max-height: 30px;
}

#notificationsDiv {
  max-width: 400px;
  min-width: 300px;
  max-height: 400px;
  overflow:auto;
}

.notificationElement {
  font-size: 15px; 

}

.textoNotificacao {
  overflow-wrap: break-word !important;
  white-space: normal !important;
  width: 100% !important;
  max-width: 25em !important;
}

.anchorNotificacao {
  display: inline-flex
}


.badge {
  font-size: 15px !important;
  color: black !important;
  border-radius: 50% !important;
  top: -5px !important;
  left: 70px !important;
  position: absolute !important;
  border: 1px solid black !important;
  background-color: white !important;
 }


/* ####################### */
/* Styling do botao google */
/* ####################### */
#icon_google {
  height: 35px;
  width: 35px;
  display: inline;
}

.google_msg {
  display: inline;
  margin-left: 10px;
}

.google_wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google_button {
  width: 300px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.google_button:hover {
  background-color: #0b50c3;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.5);
  color: #fff;
  transform: translateY(-7px);
}
