#page-container {
    position: relative;
    min-height: 100vh;
    height: 90%;
    width: 100%;
    background-image: url("../images/backgrounds/2.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    overflow: hidden;
}
  


.main-logo{ 
    position:relative;
    float:left;
    margin: 0 10px 0 20px;
    width: 190px;
    height: 65px;
}

.login {
    margin: 0 20px 0 0;
}

.navbar {
    height: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgreen;
    color: black;
    height: 10%;
}
