.logo {
    max-width: 50%;
    height: auto;
}

.form-div {
    max-width: 60%;
    background-color: forestgreen;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border: 2px solid rgba(0,0,0,.2);
}

.inline-icon {
    display: flex;
    justify-content: space-between;
}

.x-icon {
    position: relative;
    top: 0.3rem;
    font-size: 2rem;
}

.check-icon {
    font-size: 2rem;
    color: green;
}

.asterisk-icon {
    position: relative;
    bottom: 0.1rem;
    font-size: 0.75rem;
}