#apresentação {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    height: auto;
    width: 80%;
    background-color: white;
    max-height: 100%;
    overflow: auto;
}

#imagem_a_alterar {
    max-width: 200px;
    max-height: 100px;
    height: auto;
    width: auto;
    border-radius: 5%;
}

#noStorage{
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center
}
.sem_bases_img {
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 300px;
}

#todosArmazens {
    display: none;
}

.imagemProduto {

    height: 300px !important;
    

}

#storageinfo{
    
    background-color: #008B8B !important;
    color: white !important;
    width: 180px;
   
}


#criarUmArmazem {
    display: none;
}


#fundoDivOpac {
    display: none;
}



#okButton{
    left: 50%;
}


#storage_info{
    display: none;
}

#successCreate {
    opacity:0.75;
    bottom: 5%;
    left: 18%;
    width: 60%;
    position: absolute;
    display:none;

}

#storage_info{
    position: absolute;
    background-color: white;
    border: solid;
    padding: 10px;
    top: 25%;
    left: 25%;
    z-index: 9;
    width: 55%;
}

.inline-icon {
    display: flex;
    justify-content: space-between;
}
.armazem{
    display:none;
    position: absolute;
    background-color: white;
    border: solid;
    padding: 10px;
    top: 25%;
    left: 25%;
    z-index: 9;
    width: 55%;
  
}

#but-pad{
    display: block;
    width: 50%;
    margin-top:10px;
}

#button-close-div{
    padding:5px;
    float: right;
}

#spinnerAdicionarArmazem {
    display: none;
}


.backgroundSee{

    position: fixed;

    top: 0;
    left: 0;
    z-index: 5;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}



.adicionar-foto {
    color: transparent;
    overflow: hidden;
    border: transparent;
}

.adicionar-foto::-webkit-file-upload-button {
    visibility: hidden;
}

#todosArmazens, #baseDoVeiculo {
    padding: 10px 30px 30px 30px;
}

.adicionar-foto::before {
    content: 'Alterar Avatar';
    color: black;
    display: inline-block;
    background: #93BF7E;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-align: center;
}

.adicionar-foto:hover::before {
    border-color: black;
}

.adicionar-foto:active {
    outline: 0;
}

.adicionar-foto:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

.alterar_imagem_botao {
    background-color: #008B8B !important;
    color: white !important;
}