#todosArmazens {
    display: none;
}


#criarUmArmazem {
    display: none;
}


#fundoDivOpac {
    display: none;
}


#successCreate {

    display:block;

}

.armazem{
 
    position: absolute;
    background-color: white;
    border: solid;
    padding: 10px;
    top: 25%;
    left: 25%;
    z-index: 9;
    width: 55%;
  
}

#but-pad{
    display: block;
    width: 50%;
}

#button-close-div{
    padding:5px;
    float: right;
}

#spinnerAdicionarArmazem {
    display: none;
}


.backgroundSee{

    position: fixed;

    top: 0;
    left: 0;
    z-index: 5;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}